* {
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swaps");

/* 1 */
body {
    background: #b4b4b4 url("../images/pink-flowers.webp") top repeat fixed;
    background-attachment: fixed;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 400;
}

/* 10 */
.wrapper {
    width: 88%;
    margin: 0 auto;
    background-color: #fff;
    padding: 0 3%;
}

/* 10 */
.header__heading {
    padding-top: 96px;
    margin-bottom: 46px;
    font-size: 2rem;
    color: #a11414;
}

/* 10 */
.header__heading--spec {
    font-weight: 700;
    text-transform: uppercase;
}

/* 10 */
.header__img-wrap {
    padding: 14px 13px;
    border: 1px solid black;
    border-radius: 2px;
    margin-bottom: 57px;
}

/* 11 */
.header__img-wrap img {
    width: 100%;
}